/Faces Dataset/
/Kaggle Dataset/
/Kaggle Faces Dataset/
/Kaggle Faces Dataset old/
/Kaggle Faces Dataset Large/
/Dummy Dataset/
/Imagens/
/Vídeos Teste/
/models/
/Videos Predictions .csv/
__pycache__/
.ipynb_checkpoints

Testar Vídeos Independentes.ipynb

*/